.actor-img {
  height: 300px;
  object-fit: cover;
}

.actor-card {
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}